<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JSON_APP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CB0AFBE31E8E9FD300F60AC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB0AFBF71E8E9FD400F60AC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB0AFC021E8E9FD400F60AC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
